$main-background: #f8f8f8;
$font-sans: "YuKyo-Medium", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, "Helvetica Neue", Arial, sans-serif;
$font-mono: "SourceHanCodeJP-Normal", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";

body {
  font-family: $font-sans;
  background-color: $main-background;
  min-width: 320px;
}

.nam__sans {
  font-family: $font-mono;
}

.nam__mono {
  font-family: $font-mono;
}
